/* --------------------
-------GENERAL---------
-------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 238, 238);
    /* font-size: 1.5rem; */
    font-family: 'Open Sans', sans-serif;
}

/* --------------------
-------HEADER----------
-------------------- */

header{
    width: 100%;
    /* background-color: #343434; */
    background-color: rgb(241, 238, 238);
}

.nav-container{
    /* background-color: #343434; */
    background-color: rgb(241, 238, 238);
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 5px 40px;
    /* color: white; */
    color: #343434;
}

.social-container{
    list-style: none;
    display: flex;

}

ul li{
    margin: 0px 10px;
}

.list-container{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-size: 14px;
    align-items: center;
}

.img-container{
    width: 100%;
    max-width: 1000px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    /* background-color: white; */
    margin: auto;
    background-image: url(img/main.jpg);
}

.main-img{
    width: 100%;
    max-width: 1000px;
}

.nombre{
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
}

.sub-nombre{
    color: #e9e9e9;
}

/* --------------------
-------SECTION---------
-------------------- */

section{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: #f4f4f4;
}



/* --------------------
-------FOOTER----------
-------------------- */


footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #707070;
    color: white;
    padding: 10px ;
    font-size: 13px;
}
