/* --------------------
-------GENERAL---------
-------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242635;
    font-family: 'Inter', sans-serif;
}

.nav{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__link{
    color: #e5e5e5;
    padding-right: 100px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.nav__link--color{
    color: #f1a600;
}

/* --------------------
---------NAV------------
-------------------- */

